.AddEventForm {
  background-color: #ffd166;
  padding: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  /* width: 60vw; */
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.AddEventForm input {
  padding: 3px;
}

.AddEventForm .field {
  padding: 7px;
}

.AddEventForm .closeButton {
  width: 40px;
  height: 30px;
  position: absolute;
  top: -7px;
  right: -7px;
  padding: 4px;
}

/* 528px is good mobile */

@media only screen and (min-width: 528px) {
  .AddEventForm .field {
    display: flex;
    align-items: center;
  }

  .AddEventForm .eventForm {
    display: flex;
    flex-wrap: wrap;
  }

  /* .AddEventForm {
    height: 40vh;
  } */
}
