.AddEventForm {
  background-color: rgba(192, 55, 55, 0.8);
  padding: 25px;
  position: fixed;
  top: 50%;
  left: 10%;
  z-index: 5;
  transform: translate(-65%, -50%);
  /* width: 60vw; */
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.AddEventForm .parentHelper {
  position: relative;
  width: 100%;
  height: 100%;
}

.AddEventForm .signIn {
  font-size: 20px;
  white-space: nowrap;
}

.AddEventForm input {
  padding: 3px;
}

.AddEventForm .field {
  padding: 7px;
}

.AddEventForm .closeButton {
  width: 15%;
  height: 20px;
  position: absolute;
  top: 1px;
  right: 1px;
  text-align: center;
  padding: 2px;
}

/* 528px is good mobile */

@media only screen and (min-width: 528px) {
  .AddEventForm .field {
    display: flex;
    align-items: center;
  }

  .AddEventForm .eventForm {
    display: flex;
    flex-wrap: wrap;
  }

  .AddEventForm {
    /* height: 40vh; */
  }
}
