.AddProfileForm {
  background-color: rgba(192, 55, 55);
  position: fixed;
  top: 25%;
  left: 25%;
  z-index: 5;
  transform: translate(-65%, -50%);
  width: 60vw;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.AddProfileForm .closeButton {
  width: 10%;
  height: 20px;
  position: absolute;
  top: 1px;
  right: 1px;
  text-align: center;
  padding: 2px;
}

.AddProfileForm .field {
  margin: 10px;
}
