.CategoryForm {
  width: 35vw;
  background-color: #ffd166;
  font-size: 14px;
}

.CategoryForm .closeButton {
  width: 10%;
  height: 20px;
  position: absolute;
  top: 1px;
  right: 1px;
  text-align: center;
  padding: 2px;
}

.CategoryForm .title {
  font-weight: bold;
  padding-right: 20px;
}

/* .CategoryForm label {
  white-space: nowrap;
} */
