.CategoryForm {
  width: 35vw;
  background-color: #ffd166;
  font-size: 14px;
  padding: 10px;
}

.CategoryForm .closeButton {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -7px;
  right: -7px;
  text-align: center;
  padding: 2px;
  margin-left: 20px;
  border-radius: 3px;
}

.CategoryForm .title {
  font-size: 16px;
  margin-bottom: 5px;
}

.CategoryForm .bold {
  font-weight: bold;
}

.CategoryForm .reportButton {
  margin: 3px;
  border-radius: 3px;
}
