.CategoryForm {
  width: 35vw;
  background-color: #ffd166;
  font-size: 14px;
  padding: 10px;
}

.CategoryForm .closeButton {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 1px;
  right: 1px;
  text-align: center;
  padding: 2px;
}

.CategoryForm .CategoryForm .title {
  font-weight: bold;
  padding-right: 20px;
}
