.Details img {
  width: 300px;
}

.lastSeen {
  font-weight: bolder;
  font-size: x-large;
}

.Details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Details .confirmParagraph {
  margin: 10px;
  padding: 5px;
  border: 2px solid white;
}

.Details .removeLink {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .Details .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 10px;
    width: 100vw;
  }
  .Details h1 {
    margin: 10px;
  }
  .Details img {
    width: 400px;
  }

  .Details .lastSeen {
    margin-bottom: 10px;
  }
  .Details button {
    margin: 10px;
  }
}
