.EventItem {
  list-style: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(235, 231, 231);
  margin: 10px;
  border-radius: 10px;
}

.EventItem .category {
  font-weight: bold;
}

.EventItem img {
  width: 200px;
}

.EventItem.lost {
  border: solid 4px #ef476f;
}
.EventItem.found {
  border: solid 4px #06d6a0;
}
.EventItem.sighting {
  border: solid 4px black;
}

@media only screen and (min-width: 768px) {
  .EventItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .EventItem p {
    margin: 0 10px;
  }
  .EventItem .details {
    white-space: nowrap;
  }
}
