.MapMarker .marker-popup-container {
  height: 100px;
  width: 100px;
  padding: 5px;
  background-color: white;
  border: 1px solid #101f4c;
  border-radius: 5px;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.MapMarker {
  cursor: pointer;
}

.MapMarker button {
  width: 25%;
  border: none;
  box-shadow: 1px 1px 1px black;
  padding: 0;
  position: absolute;
  right: 2px;
  top: 1px;
}
.fa-map-marker {
  position: relative;
  z-index: 1;
}

.fa-map-marker.lost {
  color: #ef476f;
}

.fa-map-marker.found {
  color: #06d6a0;
}

.fa-map-marker.sighting {
  color: #3d6ab4ff;
}
