.MapMarker .marker-popup-container {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 5px;
}

.MapMarker {
  cursor: pointer;
}

.fa-map-marker.lost {
  color: #05832f;
}

.fa-map-marker.found {
  color: #7406a0;
}

.fa-map-marker.sighting {
  color: #0518bb;
}
