/* .SearchByCity {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.SearchByCity form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
  background-color: #8f94a3;
}

.SearchByCity #city {
  padding: 5px;
  width: 260px;
}

.SearchByCity #city::placeholder {
  font-size: 16px;
}

.SearchByCity button {
  width: 30px;
  border: none;
  background-color: transparent;
  margin-left: 5px;
  padding: 0;
  cursor: pointer;
}
